@model fyp.Models.tblAdmin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblAdmin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Admin_Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Name)
        </dd>

        <dt>
            Admin_Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Password)
        </dd>

        <dt>
            Admin_Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Email)
        </dd>

        <dt>
            Admin_Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Contact)
        </dd>

        <dt>
            Admin_Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Address)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "tblAdmins", new {id=Model.Admin_ID})" class="btn btn-primary">Edit</a>
    <a href="@Url.Action("Index","tblAdmins")" class="btn btn-default">Back to list</a>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Admin_ID }) |
        @Html.ActionLink("Back to List", "Index")*@

</p>
