@model IEnumerable<fyp.Models.tblPetCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Pet Category Name
            @*@Html.DisplayNameFor(model => model.P_CategoryName)*@
        </th>
        <th>
            Pet Category Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.P_CategoryName
        </td>
        <td>
            <img src="@Url.Content(item.P_CategoryImage)" width="100" height="100" />
            @*@Html.DisplayFor(modelItem => item.P_CategoryImage)*@
        </td>
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("edit","tblPetCategories", new {id=item.P_CategoryID})"></a>
            <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("details","tblPetCategories", new {id=item.P_CategoryID})"></a>
            <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("delete","tblPetCategories", new {id=item.P_CategoryID})"></a>

            @*@Html.ActionLink("Edit", "Edit", new { id=item.P_CategoryID }) |
        @Html.ActionLink("Details", "Details", new { id=item.P_CategoryID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.P_CategoryID })*@
        </td>
    </tr>
}

</table>
