@model IEnumerable<fyp.Models.tblShop>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Shop Name
        </th>
        <th>
            Shop Address
        </th>
        <th></th>
    </tr>

@foreach (var shop in Model) {
    <tr>
        <td>
            @shop.Shop_Name
        </td>
        <td>
            @shop.Shop_Address
        </td>
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("edit","tblShops", new {id=shop.Shop_ID})"></a>
            <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("details","tblShops", new {id=shop.Shop_ID})"></a>
            <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("delete","tblShops", new {id=shop.Shop_ID})"></a>

            @*@Html.ActionLink("Edit", "Edit", new { id = item.Shop_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Shop_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Shop_ID })*@
        </td>
    </tr>
}

</table>
