@model IEnumerable<fyp.Models.tblPetSubcategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">Create New</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Category Name
            @*@Html.DisplayNameFor(model => model.tblPetCategory.Category_Name)*@
        </th>
        <th>
            SubCategory Name
            @*@Html.DisplayNameFor(model => model.Subcategory_Name)*@
        </th>
        <th>
            SubCategory Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblPetCategory.Category_Name)
        </td>
        <td>
            @item.Subcategory_Name
        </td>
        <td>
            <img src="@Url.Content(item.Subcategory_Image)"width="100" height="100" />
            @*@Html.DisplayFor(modelItem => item.Subcategory_Image)*@
        </td>
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("edit","tblPetSubcategories", new {id=item.Subcategory_ID})"></a>
            <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("details","tblPetSubcategories", new {id=item.Subcategory_ID})"></a>
            <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("delete","tblPetSubcategories", new {id=item.Subcategory_ID})"></a>
       </td>
    </tr>
}

</table>
