
@using fyp.Models
@{
    Layout = "~/views/shared/Customer_Layout.cshtml";
    Model1 db = new Model1();
}

<!-- Blog Start -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
        <h4 class="text-secondary mb-3">Products</h4>
        @*<h1 class="display-4 m-0"><span class="text-primary">Updates</span> From Blog</h1>*@
    </div>
    <div class="row pb-3">
        @foreach (var item in db.tblPets)
        {
            if (ViewData["catid"] == null || item.P_SubcategoryFID == (int)ViewData["catid"])
            {
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="@Url.Content(item.Pets_Image)" style="width:100%;height:200px" alt="">
                        <a class="btn btn-primary btn-block p-3" style="border-radius: 0;" href="@Url.Action("AddtoCart", "Cart", new { petid = item.Pets_ID })">Add to Cart</a>

                        <div class="card-body bg-light p-4">
                            <h5 class="card-title ">
                                @item.Pets_Name                        
                                <a href="@Url.Action("Wishlist", "Home", new { id = item.Pets_ID })" class="btn btn-primary m-1 fa fa-heart"></a>
                             </h5>
                            <div class="d-flex mb-3">
                                <h5><small class="mr-2">Rs. @item.Pets_SalePrice</small></h5>
                                <br />
                            </div>
                            <a class="font-weight-bold" href="@Url.Action("ProductDetail", "Home", new { id = item.Pets_ID })">View</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
<!-- Blog End -->
