@model IEnumerable<fyp.Models.tblAccSubcategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.tblAccCategory.A_CategoryName)*@
            Category Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.A_SubcategoryName)*@
            SubCategory Name
        </th>
        <th>
            SubCategory Image 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblAccCategory.A_CategoryName)
        </td>
        <td>
            @item.A_SubcategoryName
        </td>
        <td>
            <img src="@Url.Content(item.A_SubcategoryImage)" width="100" height="100" />
            @*@Html.DisplayFor(modelItem => item.A_SubcategoryImage)*@
        </td>
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("edit","tblAccSubcategories", new {id=item.A_SubcategoryID})"></a>
            <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("details","tblAccSubcategories", new {id=item.A_SubcategoryID})"></a>
            <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("delete","tblAccSubcategories", new {id=item.A_SubcategoryID})"></a>

            @*@Html.ActionLink("Edit", "Edit", new { id = item.A_SubcategoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.A_SubcategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.A_SubcategoryID })*@
        </td>
    </tr>
}

</table>
