@model fyp.Models.tblAccessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblAccessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblAccSubcategory.A_SubcategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAccSubcategory.A_SubcategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblShop.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblShop.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessories_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories_Image)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Accessories_Image)" width="100" height="100" />
            @*@Html.DisplayFor(model => model.Accessories_Image)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessories_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories_PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessories_PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories_SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessories_SalePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Accessories_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
