@model IEnumerable<fyp.Models.tblAccCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Category Name
            @*@Html.DisplayNameFor(model => model.A_CategoryName)*@
        </th>
        <th>
            Category Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.A_CategoryName
        </td>
        <td>
            <img src="@Url.Content(item.A_CategoryImage)" width="100" height="100" />
            @*@Html.DisplayFor(modelItem => item.A_CategoryImage)*@
        </td>
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("edit","tblAccCategories", new {id=item.A_CategoryID})"></a>
            <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("details","tblAccCategories", new {id=item.A_CategoryID})"></a>
            <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("delete","tblAccCategories", new {id=item.A_CategoryID})"></a>

            @*@Html.ActionLink("Edit", "Edit", new { id = item.A_CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.A_CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.A_CategoryID })*@
        </td>
    </tr>
}

</table>
