@model fyp.Models.tblVet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblVet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Veterinarian_Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Name)
        </dd>

        <dt>
            Veterinarian_Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Contact)
        </dd>

        <dt>
            Veterinarian_Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a href="@Url.Action("Index","tblVets")" class="btn btn-default">Back to list</a>
</div>
    }
</div>
