@model fyp.Models.tblVet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblVet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Veterinarian_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veterinarian_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veterinarian_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Veterinarian_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
