@model fyp.Models.tblVet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblVet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Veterinarian_Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Name)
        </dd>

        <dt>
            Veterinarian_Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Contact)
        </dd>

        <dt>
            Veterinarian_Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarian_Address)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Veterinarian_ID }) |*@
    <a href="@Url.Action("Edit","tblVets",new {id=Model.Veterinarian_ID})" class="btn btn-primary">Edit</a>
    <a href="@Url.Action("Index","tblVets")" class="btn btn-default">Back to list</a>
</p>
